{
  "Servers": {
    "1": {
      "Name": "docker_postgres",
      "Group": "docker_postgres_group",
      "Host": "{{ host_db }}",
      "Port": {{ port_db }} ,
      "MaintenanceDB": "{{ maintenanceDB }}",
      "Username": "{{ username_db }}",
      "SSLMode": "prefer"
    }
  }
}

